*
{
    padding: 0;
    margin: 0;
}
.container
{
    padding: 30px;
}
.form-control
{
    width: 85px;
    display: block;
    position: relative;
    padding-left: 36px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 24px;
}
h1 
{
    margin-bottom: 20px;
}
.custom-radio
{
    position: absolute;
    left: 0;
    top: 0;
    height: 24px;
    width: 24px;
    background-color: #ddd;
    border-radius: 50%;
}
.form-control:hover input ~ .custom-radio
{
    background-color: #ccc;
}
.form-control input:checked ~ .custom-radio
{
    background-color: #2d846e;
}
.custom-radio:after
{
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    content: "";
    position: absolute;
    display: none;
}
.form-control input:checked ~ .custom-radio:after
{
    display: block;
}
.form-control input 
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}