*
{
    padding: 0;
    margin: 0;
}
form
{
    margin: 50px;
    position: relative;
}
label 
{
    display: block;
    margin: 10px;
    font-weight: bold;
    position: relative;
}
input 
{
    margin-left: 5px;
}
span
{
    position: absolute;
    top: -2px;
    left: -25px;
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgb(209, 209, 209);
    border-radius: 50%;
}
label:hover input ~ span
{
    background-color: rgb(155, 155, 155);
    z-index: 1;
}
input:after 
{
    top: 3px;
    left: -20px;
    width: 10px;
    height: 10px;
    background-color: white;
    content: "";
    position: absolute;
    z-index: 3;
    border-radius: 50%;

}
input:checked
{
    display: inline-block;
    z-index: 2;
}